{% extends 'base.html.twig' %}
{% block title %}Wild Series | Program n{{ page }}{% endblock %}

{% block body %}
    <h1>Programme #{{ page }}</h1>
    <p>Ceci est la page du programme numéro {{ page }}.</p>
{% endblock %}