@import "~bootstrap/scss/bootstrap";

:root {
    --mainColor: #ffffff;
    --secondColor: #aaaaaa;
    --backgroundColor: #262626;
    --navbarBgColor: #0c0c0c;
}

body {
    background-color: var(--backgroundColor);
    color: var(--mainColor);
}

main {
    padding: 1em;
}

p {
    color: var(--secondColor);
}

.ws-bg-dark {
    background-color: var(--navbarBgColor);
}
